badge_papa/badge.txt
badge_eva/badge.txt
badge_eva/images/
badge_papa/images/
badge_eva/Eva_QR_code_address.png
badge_eva/test_scratch*
_sources/
.DS_Store
badge_eva/badge-image-QR.bin
badge_eva/badge-image_QR.bin
badge_papa/badge-personal-image_qr.bin
badge_papa/badge-personal-image.bin
badge_papa/badge-work-image.bin
badge_eva/sos.txt
badge_papa/sos.txt